<%- include("menu", {Titulo: 'Clientes', pagina: 'Clientes', aInicio: 'nav-link',
    aUsuarios: 'nav-link', aClientes: 'nav-link active', aMedidores: 'nav-link', aLecturas: 'nav-link',aPerfil: 'nav-link', aContra: 'nav-link'}) %>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.98.0">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  </style>
  <link href="css/form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">
    
  <div class="container">

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="row g-5">
          <div class="col-md-7 col-lg-12">
            <form action="/nuevoCliente" method="POST" class="needs-validation" novalidate>
  
              <div class="row g-3">
    
               <div class="col-12">
                   <label for="cedula" name="cedula" class="form-label">Cedula</label>
                   <div class="input-group has-validation">
                     <input value="<%= cedula%>" type="number" maxlength="10" class="form-control" id="cedula" name="cedula" placeholder="Cedula" required>
                   <div class="invalid-feedback">
                       Campo obligatorio.
                     </div>
                   </div>
             </div>
               
               <div class="col-sm-4">
                   <label for="nombre" class="form-label">Nombres</label>
                   <input type="text" value="<%= nombres%>" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" class="form-control" id="nombres" name="nombres" placeholder="Nombres"  required>
                   <div class="invalid-feedback">
                       Campo Obligatorio.
                   </div>
               </div>
    
                <div class="col-sm-4">
                  <label for="apellidos" class="form-label">Apellidos</label>
                  <input type="text" value="<%= apellidos%>" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos"  required>
                  <div class="invalid-feedback">
                    Campo obligatorio.
                  </div>
                </div>
    
                <div class="col-sm-4">
                   <label for="telefono" class="form-label">Telefono</label>
                   <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Telefono" value="<%= telefono%>" required>
                   <div class="invalid-feedback">
                     Campo obligatorio.
                   </div>
                 </div>
    
    
                <div class="col-12">
                    <label for="direccion" name="direccion" class="form-label">Dirección</label>
                    <div class="input-group has-validation">
                      <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Dirección" value="<%= direccion%>" required>
                    <div class="invalid-feedback">
                        Campo obligatorio.
                      </div>
                    </div>
              </div>     
              <hr class="my-4">
              <div class="col-sm-4">
                <button class="w-45  btn btn-primary" type="submit">Registrar</button>
                <a href="/clientes" type="button" class="w-45 btn btn-secondary">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
      </main>

  </div>
  
  
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/form-validation.js"></script>
  
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(alert) { %>
    <script>
      Swal.fire({
        title: "<%= alertTitle %>" ,
        text: "<%= alertMessage %>",
        icon: "<%= alertIcon %>",
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
      }) .then(()=>{
        Swal.close()
      })
    </script>
  
  <% } %>

  <% if(alertSalir) { %>
    <script>
      Swal.fire({
        title: "<%= alertTitle %>" ,
        text: "<%= alertMessage %>",
        icon: "<%= alertIcon %>",
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
      }) .then(()=>{
        window.location =  "<%= ruta %>"
      })
    </script>
  
  <% } %>

</body>